.banner{
    background-color: rgb(229, 229, 229);
	position: fixed;
	top:0;
	left:0;
	right:0;
	width: 100%;
	display: block;
	padding: 0px 10px 10px 5px;
	
	font-family: 'Merriweather', serif;;
}

.logo {
	padding: 0px 0px 0px 0px;
	vertical-align: top;
	float: left;
}

.title{
    color:black;
    text-shadow: 2px 2px 4px rgb(253, 202, 64);
	letter-spacing: 5px;
	position: relative;
    font-size: 30px;
	text-decoration: none;
}

.subtitle {
	font-weight: bold;
	color: gray;
	position: relative;
	font-size: 15px;
}

a {
	color: black;
	display: block;
	text-decoration: none;
}


header a{
	letter-spacing: 5px;
}

