/* Navigation styling */

.nav ul {
	margin: 0px;
	padding-left: 0px;
}

.nav a {
	color: black;
	padding: 10px 20px 10px 20px;
}

.nav li {
	display: table-cell;
}

.nav{
	float: right;
}

/* Indicate when navigation is clickable */
.nav a:hover{
	border-top: 2px solid white;
	padding-top: 10px;
}


/* indicate which page the user is on */
.nav a.is-current {
	border-top: 2px solid white;
	padding-top: 2px;
	background: white;
	color:black;
}