/* Navigation styling */

.nav ul {
	border-collapse: collapse;
	list-style: none;
	margin: 0px;
	padding-left: 0px;
}

.nav a {
    color: black;
    display: block;
	padding: 10px 20px 10px 20px;
}

.nav li {
    
	display: table-cell;
}

.nav{
    float: right;
    padding-top:10px;
}

/* Indicate when navigation is clickable */
.nav a:hover{
	border-bottom: 2px solid white;
	padding-top: 10px;
}


/* indicate which page the user is on */
.nav a.is-current {
	padding-top: 2px;
	color:rgb(253, 202, 64);
}