/* Comments included on this page are by the Design Artist, Meghan Patrick.
	I created a F-layout for the content, so the reader sees the logo, navigation, then once on a page views the title of the person, then the photo of where they're from, and then they're "quick facts" before moving on to the dense content */


.container{
	padding-top: 150px;
	margin:auto;
	max-width: 960px;
	display: grid; /* container for content set to grid to allow easier positioning of elements*/

}


@media (max-width: 700px){
		.container {
			display: block; /* Block positioning when screen is minimized */
		}
	}

body{
	background: linear-gradient(to top, white 0%, #457B9D 100%);
	/* Transition of color to communicate scroll length on page */
	/* CRAP principle: contrast between border and page */
}

h1{
	font-size: 2pt;
	padding: 0px 0px 0px 15px;
	/* CRAP princple: alignment of headings */
}


h2{
	font-size: 20pt;
}


article, aside{
	font-family: 'Raleway', sans-serif; /* Custom font chosen from google fonts to pair well with banner font. Simple, modern typeface communicates the technical and modern "computer science" tone of the site */
	border-radius: 6px 6px 6px 6px;
	padding: 5px 15px 5px 15px;
	margin: 40px;
	background-color: white;	/* creating clear box around the different blocks on information help differntiate content types*/ 
	box-shadow: 0px 0px 30px 0px gray;
	/* CRAP principle: repetition of background and layout */;
}

figcaption{
	text-align: center; /*centered caption for aethetic appeal */
}


.readmore{
	color: #457B9D;
	font-size: 20px;
	/*CRAP princple: Proximity of link to about block makes it obvious that the read more tag will lead to page about student */;
}


a:hover{
	color: #B3CCCE; /*indicate when links are clickable */
}




img {
    border-radius: 50%; /* round pics to follow directions set by IA */
}

ul{
	list-style-type: none;
}

article{
	display:grid;
	grid-column-gap: 0;
}


article h2{
	grid-column:1/3;

}

/* Pic and accompanying info set to half of the area each, helps communicate F-layout */

.pic{
	grid-column: 1/2;
	grid-row:2;
}

.info{
	grid-column: 2/ 3;
	align-self: center;
	grid-row:2;
}

.article-info{
	grid-column: 1/3;

}

img.scale {
  width: 100%;
}

.slider{
    width: 50%;
    margin: 0 auto;
    max-width: 300px;

}
