
img {
    border-radius: 50%; /* round pics to follow directions set by IA */
}

.pic{
	grid-column: 1/2;
	grid-row:2;
}

img.scale {
  width: 100%;
}

.slider{
    width: 50%;
    margin: 0 auto;
    max-width: 300px;

}
