/*
CSS for Assignment 3, Team "NEW YORK"
styles are loosely based off of http://jedmund.com/
*/


body {
	background-color: lightgray;
	font-family: 'Open Sans', sans-serif;
}

.container {
	background-color: white;
	margin: 0 auto;
	width: 90%;
	max-width: 960px;
}

h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	color: gray;
}

.footer {
	padding-left: 40px;
	color: gray;
	word-wrap: break-word;
}

header {
	text-align: center;
	padding: 40px;
	border-bottom: 1px solid lightgray;
}

.sectOne, .sectTwo, .sectThree {
	padding: 40px;
	border-bottom: 1px solid lightgray;
	float: left;
	display: block;
}

img {
	float: left;
	padding-right: 50px;
	max-width: 100%;
	height: auto;
}

.subtitle {
	letter-spacing: 2pt;
	text-transform: lowercase;
	text-align: center;
	color: gray;
}

p {	line-height: 1.5em; }

.footer a {
	text-decoration: none;
}

.footer p {
	text-align: center;
}

.nav {
  width: 100%;
  display: inline-block;
  text-align: center;
  list-style: none;
  background-color: white;
  border-bottom: 1px solid #ccc;
}

.nav li {
  display: inline-block;
  text-align: center; 
}

.nav li a {
  padding: 4px;
  margin: 4px;
  text-decoration: none;
}

.nav a:hover {
    color: blue;
    background-color: lightgray;
}

a.current {
  background:lightgray;
  color:black;
}

a:visited {
	color: black;
}